.formContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.formContainer img {
    width: 50%;
}

.login {
    width: 35%;
    margin-left: 50px;
}

.login h1 {
    text-transform: capitalize;
    color: #0B0f28;
}

.select {
    width: 90%;
    font-size: 14px;
    padding: 5px 7px;
    color: #75757E;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
}

.option:hover {
    background-color: #f46f46 !important;
    color: #0B0f28 !important;
}

.loginForm {
    margin-top: 70px;
}

.formControl {
    margin-bottom: 35px;
}

.textArea {
    width: 90%;
    padding: 5px;

}

.textArea:focus {
    border: 1px solid #f46f46;
}

.input {
    outline: none;
    border: none;
    border-bottom: 1px solid #0B0f28;
    padding: 5px;
    width: 90%;
}

.input:focus {
    border-bottom: 1px solid #f46f46;

}

.input::placeholder,
.textArea::placeholder {
    text-transform: capitalize;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.submitContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    margin: 50px 0;
    padding: 0px 20px;
}

.submitContainer a {
    text-decoration: none;
    color: #f46f46 !important;
    font-size: 12px;
}

.submit {
    cursor: pointer;
    background-color: #f46f46;
    color: white;
    text-transform: capitalize;
    padding: 7px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.submit:disabled {
    background-color: gray;
}

.formContainer p {
    font-size: 12px;
    text-align: center;
}

.formContainer p a {
    color: #f46f46 !important;
    text-decoration: underline #f46f46 !important;

}

@media (max-width:992px) {
    .login {
        width: 45%;
    }

    .formContainer img {
        width: 45%;
    }

    .login h1 {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .login {
        width: 90%;
    }

    .formContainer img {
        width: 90%;
        margin-bottom: 20px;
    }
}

.googleloginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px 0;

}

.googlelogin {
    width: 70%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 50px;
    padding: 15px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    align-self: center;
    font-size: 14px;
}

.googlelogin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: .5px;
    background-color: #75757e95;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.googlelogin::after {
    content: "or";
    color: #75757E;
    padding: 2px 5px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: fit-content;
    background-color: white;

}

.googlelogin img {
    width: 20px;
    height: 20px;
    margin-right: 10px;

}